/* AcademAI-Essay-Rubric */

body {
    font-family: 'Inter', sans-serif;
}



.essay-criteria-setting-container {
    display: grid;
    align-items: center;
    position: relative; /* Make it relative to its container */
    height:auto;
    
   
}

.criteria-table-container {
    overflow-x: hidden; /* Allow horizontal scrolling */
   overflow-y: auto; /* Prevent vertical scrolling */
   height:300px;
   width:1200px;
}

.subject-container {
    margin-top:3%;
    margin-left:8%;
}
.subject-title {
    margin-bottom:2%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1b4242;
}

.add-new-subject-criteria {
    display: flex;
    justify-content: flex-end;
    margin-top:3%;
    margin-right:5%;
}

.add-new-subject-criteria button i {
    background-color: #880e0e;    /* White background for the icon */
    color: #092635;               /* Icon color */
    padding: 5px;                 /* Padding inside the icon background */
    border-radius: 50%;           /* Make the icon background circular */
    display: flex;                /* Make icon a flexbox */
    justify-content: center;      /* Center the icon horizontally */
    align-items: center;          /* Center the icon vertically */
    font-size: 18px;              /* Adjust the icon size */
    width: 30px;                  /* Set a fixed width for the icon area */
    height: 30px;                 /* Set a fixed height for the icon area */
    flex-shrink: 0;               /* Prevent the icon from shrinking */
}
/* Import Font Awesome */
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
a:link{text-decoration:none}
.add-new-subject-criteria-btn a{
  background-color:#092635;
  display:inline-block;
  position:relative;
  margin-top:5%;
  padding:15px 15px 15px 60px;
  color:#ffffff;
  transition:all 0.4s ease;

  font-size:1em;
}

.add-new-subject-criteria-btn a:before{
    content: "\f067"; /* Unicode for the plus sign */
    font-family: 'Font Awesome 6 Free'; /* Font Awesome 6 font family */
  position:absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size:18px;
  border-radius:0 20px 0 0;
  color:#1b4242;
  background-color:#fff;
  opacity:0.3;
  padding:15px;
  top:0;
  left:0;
  font-weight: bold;       /* Make the icon appear bold */
  
}

.add-new-subject-criteria-btn a:hover{
  background:#2c3e50
}


.criteria-table-container th,
.criteria-table-container td {
    padding: 10px; /* Add padding to cells */
    text-align: center; /* Center align content */
    min-width: 130px; /* Minimum width for existing columns */
    
}


.rubric-criterion {
    font-size:0.8750em;
    color:#fff;
    
    text-align: justify;

}

/* apply style to odd rows */
.table tbody tr:nth-child(odd) {
    background-color: #5c8374;
}
/* apply style to odd rows */
.table tbody tr:nth-child(even) {
    background-color:#9EC8B9;
}
/* apply style in the thead */
.table th {
    text-align: center;
}

.criteria-heading {
    background-color: #092635;
    font-size: 1.125em;
    color: #ffffff;
 
    font-weight:800;
}

.levels {
    color:#ffffff;
}
/* apply style in the tbody */
.predefined-criteria td {
    color:#fff;
    font-size:1em;
  
}

/* apply style to the button */

.essay-criteria-setting-btn-add {
    background-color: #092635;
    color: #ffffff;
    width: 150px;
    height:30px;
    border-radius:5px;
    font-size:1em;
   
}

   

.essay-criteria-setting-btn-add:hover,
.essay-criteria-setting-btn-save:hover {
    background-color: #5c8374;
    color: #ffffff;
}

.level-add-icon {
    cursor: pointer;
    font-size: 1.8rem;

}

.level-add-icon:hover {
    cursor: pointer;
    color: #1b4242;
}

.fa-trash {
    font-size:0.8rem;
}

.predefined-criteria {
    color:white;
}

.table-hover tbody tr:hover {
    background-color: #b5b5b5; /* Change the background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.table-hover tbody tr:hover td {
    color: #fff; /* Change text color of all td elements within the hovered row */
}



.add-btn-criteria {
    width:120px;
    height:40px;
    color:#fff;
    background-color:#092635;
    border:none;
    border-radius:5px;
    font-size: 14px; 
    margin-left:2%;
   
}

.add-btn-criteria:hover {
    background-color:#1b4242;
    color: #fff;
 
  
}
.delete-criteria-btn {
    width:120px;
    height:40px;
    color:#fff;
    background-color:red;
    border:none;
    border-radius:5px;
    font-size: 14px; 
   
    
}

.delete-criteria-btn-2 {
    width:120px;
    height:40px;
    color:#fff;
    background-color:red;
    border:none;
    border-radius:5px;
    font-size: 14px; 
    margin-left:3%;
    margin-right:1%;
  
    
}

.edit-criteria-btn {
    width:120px;
    height:40px;
    color:#fff;
    background-color:blue;
    border:none;
    border-radius:5px;
    font-size: 14px; 
   
}

.delete-criteria-btn:hover {
    background-color:rgb(194, 30, 30);
}

.delete-criteria-btn-2:hover {
    background-color:rgb(194, 30, 30);
}
.edit-criteria-btn:hover{
    background-color:rgb(17, 17, 108);
}

.essay-criteria-heading {
    text-align: center;
    margin-bottom: 10px; /* Adjust margin as needed */
    background-color:#092635;
    width:80%;
    margin-top:30px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.essay-criteria-heading h2 {
    font-size: 24px;
    color: #092635; /* Adjust color as needed */
}
.rubric-criterion-weight{
    font-size:1.125em;
    display:flex;
    justify-content: center !important;
    align-items: center !important;
    color:#fff;
}
#subject-title {
    border-color:#092635;
    border-radius: 3.33%;
    width:300px;

}
#num-criteria {
    border-color:#092635;
    border-radius: 3.33%;
    width:300px;
}
form {
  
    margin: 0 auto;  /* Center the form horizontally */
    padding: 20px;   /* Add padding around the form */

    
}

.form-group {
    margin-bottom: 15px; /* Add space between form groups */
}

label {
    display: block;          /* Ensures the label takes up full width */
    font-size: 16px;         /* Adjust font size */
    color: #ffffff;             /* Dark gray color for the text */
    margin-bottom: 5px;      /* Space between label and input */
 
}

input {
    width: 120%;             /* Makes the input field take up full width */
    padding: 8px;           /* Add padding inside the input */
    font-size: 16px;         /* Match the font size of the label */
    border-radius: 3.33%;     /* Rounded corners for the input */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    background-color: rgba(223, 223, 223, 0.5);
    filter: brightness(1.0) saturate(100%);
    border:none;
  
}


.btn-close {
    filter: invert(1);  /* Inverts the icon color to white */
    background-color: transparent; /* Ensure the button background is transparent */
    border: none; /* Remove any border */
    opacity: 1; /* Ensure full visibility */
}

.btn-close-section{
    display:flex;
    justify-content:flex-end;
    margin-top:2%;
    margin-right:2%;
}

.criteria-levels p{
  
    font-size:16px;
    text-align: justify;
    color:#092635;

}

.submit-section {
    display:flex;
    justify-content:flex-end;
    margin-top:3%;
    margin-right:2%;
    margin-bottom:2%;

}

.submit-btn{
    background-color: #1b4242;
    color:#fff;
    font-size:16px;
  
    padding:8px;
    border-radius:5px;
    width:120px;
    text-align: center;
    margin-left:2%;
    box-shadow: 2px 2px 2px 3px rgb(9, 38, 53, 0.2); /* Shadow effect */
    transition: box-shadow 0.3s ease; /* Smooth transition on hover */
    outline: none;
    border: none;
}

.cancel-btn {
    background-color: #5c8374;
    color: #fff;
    font-size: 16px;
  
    padding: 8px;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    box-shadow: 2px 2px 2px 3px rgb(9, 38, 53, 0.2); /* Shadow effect */
    transition: box-shadow 0.3s ease; /* Smooth transition on hover */
}


.cancel-btn:hover {
    text-decoration: none;
    color:#1b4242;
}
.submit-btn:hover {
   
    color:#5c8374;
}

#modal-add-new-subject-criteria {
    background-image: url('/img/modal-for-essay-rubric.jpg');
    padding: 15px;
    color: #fff !important;
}



.add-modal-criteria {
    border-radius:5px;
    box-sizing: border-box;
    filter: brightness(1.0) saturate(100%);
    background-color: rgba(50, 50, 50, 0.5);
}

.criteria-levels p{
    color:#ffffff;
}

.form-group #subject-title ,.form-group #num-criteria  {
    filter: brightness(1.0) saturate(100%);
    background-color: rgba(74, 74, 74, 0.5);
    outline: none;
}



.no-criteria-message {
    text-align: center;
    font-size: 16px;
    color: #d9534f;
    margin-bottom: 20px;
}

.no-criteria-message i {
    margin-right: 10px;
}

